.container{
  position: relative;
}

.catalogo{
  position: absolute;
  right: -400px;
  width: 100%;
  top: -50px;
}

.btn{
  position: absolute;
  left:14px;
  border-radius: 100px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  
}

.btn:focus{
  background-color:rgba(255, 0, 0, 0.438);
}

.btn2{
  position: absolute;
  left:14px;
  top:200px;
  border-radius: 100px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  
}

.btn2:focus{
  background-color:rgba(255, 0, 0, 0.438);
}

.btn3{
  position: absolute;
  left:14px;
  top:300px;
  border-radius: 100px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  
}

.btn3:focus{
  background-color:rgba(255, 0, 0, 0.438);
}

.btn4{
  position: absolute;
  left:14px;
  top:400px;
  border-radius: 100px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 15px;
}

.btn4:focus{
  background-color:rgba(255, 0, 0, 0.438);
}