/* .container {
   position: relative;
   padding: 30px 45px;
   margin: 40px 30px;
   width: 18rem;
   min-height: 400px;
   background-color: rgb(255, 255, 255);
   border-color: rgba(0, 0, 0, 0.456);
   border-radius: 15px;
}

.image {
   width: 70%;
    height: 40%; 
   /border: 1px solid rgba(0, 0, 0, 0.692); 
}

 .container {
   background-color: rgba(0, 0, 0, 0.287);
   height: auto;
   width: 80%;
   border: solid 10px;
   border-radius: 30px;
   border-style: groove;
   border-color: rgba(0, 0, 0, 0.456);
   text-align: center;
}  */
