.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    display: none;
    justify-content: center;
    align-items: center;

}

.modal.is-open {
    display: flex;

} 

.modal-container {
    position: relative;
    padding: 1rem;
    min-width: 500px;
    max-width: 500px;
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #fff;

}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;

}