.contaierMain {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 520px;
}

.container {
   min-width: 310px;
   min-height: 380px;
   margin: 15px auto;
   border-radius: 15px;
   /* background: url("../image/FondoNavBar.jpg"); */
   background-size: cover;
   color: #000000;
   padding: 20px 15px;
   background-color: #615e5e;
   /* border: 1px solid #8e8c8f; */
}

.container h1 {
   margin-top: 0;
}

.inputContainer input {
   padding: 7px 10px;
   width: 60%;
   border-radius: 10px;
   outline: none;
   border: none;
   font-size: 1rem;
   margin-bottom: 15px;
}

.btnRegister {
   margin-top: 5px;
   width: 50%;
   padding: 10px 10px;
   background-color: #008000;
   outline: none;
   border: none;
   border-radius: 10px;
   color: white;
   font-size: 1rem;
   cursor: pointer;
   letter-spacing: 1px;
}

.btnRegister:hover {
   background-color: #02d302;
}
